
  
  
  <div id="example" class="main">
    <br/>  <br/><br/> 
    <span (click)="open(userpopup,'' , '',1)"  id="userpop" style="display:none;" ></span>
<i class="material-icons cutom" (click)="open(orgTempl,'' , '',1)" >add_circle_outline</i>     
<input type="text" [(ngModel)]="userId" style="display:none;"/>
<div id="diagram" style="background-color:#ECECEC;"></div>
</div>

<ng-template #orgTempl let-c="close" let-d="dismiss">
    <div class="modal-content" *ngIf="throughGraph || addUToOrg">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">Add a user</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" #f="ngForm">
          <div class="form-group mb-3">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Select User</span>

                  </div>
                  <select class="form-control" (change)="onselectUser()" [(ngModel)]="selectedUser" name="user">
                    <option value="0" disabled>Select option</option>
                    <option [value]="user.id" *ngFor="let user of users">{{user.name}}</option>
                  </select>

                </div>
              </div>
              <div class="col-md-6" *ngIf="activeUser.name">
                <i class="material-icons" style="font-size:15px">email</i> {{activeUser?.email}}<br />
                <i class="material-icons" style="font-size:15px">person</i> {{activeUser?.name}}<br />
                <i class="material-icons" style="font-size:15px">phone</i> {{activeUser?.phone}}<br />
              </div>
              <div class="col-md-6" *ngIf="users.length == 0">
                <span style="color:brown">*Users not available (Already occupied by others team.)</span>
              </div>
            </div>

          </div>
          <div class="form-group mb-3" *ngIf="!addUToOrg">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Assign to</span>

                  </div>
                  <select class="form-control" (change)="onSelectOrg()" [(ngModel)]="selectedOrgUser" name="org">
                    <option value="0" disabled>Select option</option>
                    <option [value]="org.id" *ngFor="let org of orgData">{{org.name}}</option>
                  </select>

                </div>
              </div>
              <div class="col-md-6" *ngIf="activeOrgUser.name">
                <div class="row">
                  <div class="col-md-8">
                    <i class="material-icons" style="font-size:15px">person</i> {{activeOrgUser?.name}}<br />
                    <i class="material-icons" style="font-size:15px">group_work</i> {{activeOrgUser?.title}}<br />
                  </div>
                  <div class="col-md-4">
                    <img [src]="activeOrgUser.img?activeOrgUser.img:'../assets/img/user.jpg'" style="height: 50px;border-radius: 50%;" />
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">Choose group name</span>
              </div>
              <select class="form-control" [(ngModel)]="selectedgroup" name="group">
                <option value="0" disabled>Select name (optional)</option>
                <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addaMember()">ADD</button>

        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
      </div>
    </div>

  </ng-template>


<ng-template #userpopup let-c="close" let-d="dismiss"  >
    <div class="modal-content" *ngIf="throughGraph || addUToOrg" class="popupdata">
       
       <div class="tab">
                <button class="tablinks datalink" (click)="openCity(event, 'edit')">Edit</button>
                <button class="tablinks datalink" (click)="openCity(event, 'details')">Details</button>
                <button class="tablinks datalink" (click)="openCity(event, 'delete')">Delete</button>
                 <span aria-hidden="true" (click)="d('Cross click')" class="croossymbol">×</span>
              </div>
              
              <div id="edit" class="tabcontent details">
               <br/>
                <h4 class="headpop"><b>Update user details</b></h4><br/>
                <form role="form" #f="ngForm"  class="col-sm-6">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" /><br/>
                <label for="usr">Desination:</label>
                <input type="text" class="form-control"  ><br/>
                <button class="btn btn-primary save" (click)="updateUser()">Save</button>
                </form>
      
              </div>
               
              <div id="details" class="tabcontent">
                <div class="col-sm-6">
                <img src="https://balkangraph.com/js/img/1.jpg" class="userImg"  width="220" height="220"/> 
                <br/> <br/>  
                <div class="col-sm-12"> 
                    <div class="details" class="col-sm-6"> </div>
                  <div class="details" class="col-sm-6"> 
                   <span class="name">Nimish</span>  <br/> 
                 
                </div>
                </div>
                <div class="col-sm-12"> 
                     
                      <span class="designation"> Software Engginer</span>
                   </div>
                  </div>
            </div> 
              
            <div id="delete" class="tabcontent" class="col-sm-12">

              <br/>
              <br/><br/><br/>
               <div class="deleteuser">
                 <h3>Really wannna delete user </h3>
                </div><br/>
                 
                <div class="confirmButtons" > 
                  <button class="btn btn-success"  (click)="d('Cross click')" >Cancel</button> &nbsp; &nbsp;  &nbsp; 
                  <button class="btn btn-danger" (click)="deleteUser(userId)">Delete</button>
                </div>
            </div> 

              


      
    </div>

  </ng-template>