.section-shaped .shape {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/*.card-header {
  background: linear-gradient(0deg, #011446, #00356b)!important;
}*/
div.header {
  background: url(../../assets/img/background.png) no-repeat;
  background-color: #011446;
  border-radius: 10px;
  background-size: cover;
  height: 130px;
}
img.logo {
  margin-left: 28px;
  margin-top: 13px;
  height: 117px;
  width: 115px
}
span.title {
  font-size: 30px;
  font-weight: 400;
  color: #ffff
}
div.loginParent {
  background-color: #ffff !important;
  border-radius: unset;
  width: 380px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  top: 10%;
}
div.loginHeader {
  background: linear-gradient(141deg, #eaebec, #f0f3f9);
  padding: 10px;
  border: 1px solid #dad9d9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
form {
  background: linear-gradient(141deg, #eaebec, #f0f3f9);
  padding: 27px;
  border: 1px solid #dad9d9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none
}
.alert {
  line-height: 15px !important;
  padding: 10px 15px;
}
.loginContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}
.loginContainer .row:nth-child(2) {
  height: 100%;
} 
.loginContainer .row .card {
  height: 100% !important;
}
@media only screen and (max-width: 500px) {
  span.title {
    font-size: 25px;
  }
}
